section.section 
    .container
        h2.section_h2 
            a(href="#").section_h2__link Popular Actors & Directors
        .actors
            .actors__item
                img(src="images/actors/actor1.png", alt="actor")
                h2 Samantha Bowen
            .actors__item
                 img(src="images/actors/actor2.png", alt="actor")
                 h2 Rhys Birch
            .actors__item
                img(src="images/actors/actor3.png", alt="actor")
                h2 James Holloway
            .actors__item
                img(src="images/actors/actor4.png", alt="actor")
                h2 Joshua Walton
            .actors__item
                img(src="images/actors/actor7.png", alt="actor")
                h2 Patrick Elliott 
            .actors__item
                img(src="images/actors/actor6.png", alt="actor")
                h2 Morgan O'Neill