footer
        .footer 
            .footer__item
                a(href="#") 
                    img(src="images/logo.svg", alt="logo")
            .footer__item
                ul.footer-list
                    li.footer-list__item
                        a(href="#").footer-list__link Voice over and Subtitle 
                    li.footer-list__item
                        a(href="#").footer-list__link  Media Center
                    li.footer-list__item
                        a(href="#").footer-list__link  Privacy
                    li.footer-list__item
                        a(href="#").footer-list__link  Contact Us
            .footer__item
                ul.footer-list
                    li.footer-list__item
                        a(href="#").footer-list__link Voice Description
                    li.footer-list__item
                        a(href="#").footer-list__link  Investor Relations
                    li.footer-list__item
                        a(href="#").footer-list__link  Legal Provisions
            .footer__item
                ul.footer-list
                    li.footer-list__item
                        a(href="#").footer-list__link Help Center
                    li.footer-list__item
                        a(href="#").footer-list__link  Job Opportunities
                    li.footer-list__item
                        a(href="#").footer-list__link  Cookies Preferences
            .footer__item
                ul.footer-list
                    li.footer-list__item
                        a(href="#").footer-list__link Gift Cards
                    li.footer-list__item
                        a(href="#").footer-list__link  Term of Use
                    li.footer-list__item
                        a(href="#").footer-list__link  Corporate Informations
            
                