section.section
    .container
        h2.section_h2 
                    a(href="#").section_h2__link Popular Genres
        .genres__item 
            .genres__item__romance
                img(src="images/icons/love.png", alt="love")
                h2.genres__item__text Romance
            .genres__item__drama
                img(src="images/icons/mask.png", alt="love")
                h2.genres__item__text Drama
            .genres__item__historical
                img(src="images/icons/history.png", alt="love")
                h2.genres__item__text Historical
            .genres__item__action
                img(src="images/icons/action.png", alt="love")
                h2.genres__item__text Action
            .genres__item__scifi
                img(src="images/icons/rocket.png", alt="love")
                h2.genres__item__text Sci-fi
            .genres__item__horror
                img(src="images/icons/ghost.png", alt="love")
                h2.genres__item__text Horror
            .genres__item__comedy
                img(src="images/icons/smile.png", alt="love")
                h2.genres__item__text Comedy
            .genres__item__documentary
                img(src="images/icons/castle.png", alt="love")
                h2.genres__item__text Documentary