section.section
            .container
                h2.section_h2 
                    a(href="#").section_h2__link Trending TV Shows 
                    .movies 
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster1.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster2.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster3.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster4.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster5.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster6.png", alt="").movies__img
                h2.section_h2 
                    a(href="#").section_h2__link Trending Movies
                    .movies 
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster7.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster8.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster9.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster10.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster11.png", alt="").movies__img
                        .movies-item 
                            a(href="#").movies__link
                                img(src="images/posters/poster12.png", alt="").movies__img
                button.see-more_btn See more