.popup#popup
    button.close-btn#close-btn X 
    h2.popup-title__register#popup-title Registration
    h2.popup-title__login#popup-login Login
    .form
        .form__item
            h2.register-form__text Your E-mail
            input() 
        .form__item
            h2.register-form__text Your Login
            input()  
        .form__item
            h2.register-form__text Your Password
            input()  
        .form__item
            h2.register-form__text Сonfirm Password
            input() 
        .form-buttons
            button.register-create#create Create Account
            button.register-enter#sing-in Sign In