.popup#popup
    button.close-btn#close-btn X 
    h2.register-text Registration
        .form
            .form__item
                h2.register-form__text Your E-mail
                input(type="text") 
            .form__item
                h2.register-form__text Your Login
                input(type="text")  
            .form__item
                h2.register-form__text Your Password
                input(type="text")  
            .form__item
                h2.register-form__text Сonfirm Password
                input(type="text") 
            .form-buttons
                button.register-create#create Create Account
                button.register-enter#sing-up Sign In